:host /deep/ {
    .mat-toolbar.mat-toolbar-single-row {
        background: #F11D22;
        span {
            margin: 0 44.5%;
            img {
                height: 7rem;
            }
        }
    }
}

